@import "../../../../styles/variables.scss";

.button {
  background-color: $primary-color;
  border-radius: 5px;
  padding: 12px 15px;
  display: flex;
  justify-content: center;
}
.title {
  display: flex;
  font-size: 14px;
  text-align: center;
  color: $white-color;
}
.spinner {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid transparent;
  border-top: 2px solid white;
  border-radius: 50%;
  -webkit-animation: spin 0.6s infinite linear;
  animation: spin 0.6s infinite linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spCircRot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
