@import "../../../styles/variables.scss";

.container {
  padding-bottom: 10px;
  margin-bottom: 20px;
  background-color: $white-color;

  &__top {
    display: flex;
    padding: 20px;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    &__title {
      font-size: 20px;
      font-weight: 600;
    }

    &__currency {
      font-weight: 700;
      color: $primary-color;
    }
  }
}
