@import "../../../styles/variables.scss";

.container {
  padding: 20px 30px;
  background-color: #fff;
  &__title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__description {
    max-width: 50%;
    font-size: 20px;
    margin-bottom: 10px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    &__item {
      width: 30%;

      &__actions {
        display: flex;

        &__prev_button {
          margin: 10px;
          margin-left: 0;
          color: $primary-color;
          cursor: pointer;
        }

        &__prev_download {
          margin: 10px;
          color: #222;
          font-weight: 700;
          cursor: pointer;
        }
      }

      &__title {
        font-size: 20px;
        font-weight: 500;
      }

      &__textarea {
        height: 135px;
        resize: none;
      }

      &__preview {
        margin-top: 12px;

        &__image {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: $media-max-width) {
  .container {
    &__description {
      max-width: 100%;
      width: 100%;
    }
    &__items {
      flex-direction: column;
      &__item {
        width: 100%;
      }
    }
  }
}
