@import "../../../styles/variables.scss";

.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0 60px;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
      font-size: 1.4rem;
      font-weight: 400;
      margin-bottom: 10px;
    }

    &__subtitle {
      font-size: 1.9rem;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: $media-max-width) {
  .container {
    display: none;
  }
}
