@import "../../../styles/variables.scss";

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

  &__left {
    width: 30%;
  }
}

@media (max-width: $media-max-width) {
  .container {
    flex-direction: column;
    &__left {
      width: 85%;
    }
  }
}
