@import "../../../../styles/variables.scss";

.wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(300px, $max-width);
  background-color: $white-color;
  padding: 0px 30px;
}

.container {
  padding: 20px 0px;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.logoWrapper {
  display: flex;
  align-items: center;

  h2 {
    margin-left: 10px;
  }
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-template-columns: 100px 100px;
}

.link {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin-left: 4vw;

  img {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: $media-max-width) {
  span b {
    display: none;
  }
  .navbar__button {
    padding: 10px 30px !important;
  }
}
