@import "../../../../styles/variables.scss";

.footer {
  display: grid;
  grid-template-columns: minmax(300px, $max-width);
  place-content: center;
  padding: 40px 0;
  background-color: #f4f5f9;
}

@media (max-width: $media-max-width) {
  .footer {
    padding: 40px 20px;
  }
}
